<div class="jumbotron mt-3">
    <h1>book an appointment</h1>

    <form>
        <div class="form-group">
            <label for="name">Name </label>
            <input ng-model="vm.appointment.client" type="text" name="client" class="form-control">
        </div>
        <div class="form-group">
            <label for="start">Start </label>
            <input ng-model="vm.appointment.start" type="datetime-local" id="start" name="start" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-09-012T00:00:00" max="2099-12-31T00:00:00" class="form-control">
        </div>
        <div class="form-group">
            <label for="end">End </label>
            <input ng-model="vm.appointment.end" type="datetime-local" id="end" name="end" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-09-012T00:00:00" max="2099-12-31T00:00:00" class="form-control">
        </div>
        <div class="form-group">
            <label for="reason">Reason </label>
            <select ng-model="vm.appointment.reason" ng-options="reason.id as reason.title for reason in vm.reasons" name="reason" class="form-control"></select>
        </div>
        <button ui-sref="home" class="btn btn-light">Cancel</button>
        <button ng-click="vm.save()" class="btn btn-success">Save</button>
    </form>

</div>
